.book
{
  height: 250px;
  padding: 0px;

  &__title
  {
    font-size: 13px;
    color: #6f1400;
  }
  &__author
  {
    font-size: 11px;
  }
}
.recomended-book
{

  a:link {
    text-decoration: none;
  }

  a:visited {
    text-decoration: none;
  }

  a:hover {
    text-decoration: none;
  }

  a:active {
    text-decoration: none;
  }

}